# CGROOT++ Dependencies

# GUI Framework
PyQt6>=6.4.0
PyQt6-Charts>=6.4.0
pyqtgraph>=0.13.0 # Not currently used, replaced by QtCharts

# Data Processing
numpy>=1.21.0

# Build & Utilities
colorama>=0.4.4
pyinstaller>=5.0
requests>=2.28.0 # For potential dataset downloading

